*{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    background-color:#C39BD3;
    line-height: 1;
    overflow-y: hidden;
}

.row-container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #C39BD3; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 15vh;
    overflow-y: hidden;
}

#icon-container {
    position: relative;
    min-height:15vw;
    min-width: 15vw;
    overflow-y: hidden;
}

.icon-img {
    max-width: 50px; 
    height: 50px;
    margin-top: 90px;
    /* margin-bottom: 20px; */
    margin-right: 20px;
    /* overflow-y: hidden; */
}

#pages-container {
    padding-top: 10vh;
    /* position:sticky; */
}

.page {
    flex: 1;
    display: flex;
    background-color: #faedff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.page:not(:last-child)::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 10%; /* Adjust this value based on your design */
}


.maintext {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: black;
    height: 10vw;
    text-align: left;
    margin-left: 40px;
    line-height: 10vw;
    font-size: 3vw;
}

/* section headers */
.maintext:not(#navname) {
    position: absolute;
    top: 10%;
    left: 40%;
}

#section-info{
    padding-top: 200px;
    display: flex;
    flex-direction: row;
}


.page-logo {
    width: 30vw;
    height: auto;
    object-fit: contain;
    /* align-self: flex-start; */
    /* margin-top: 20px; */
    /* margin-left: 10vw; */
    margin-right: 20px;
}

#exp-info.container{
    background-color: transparent;
    margin-left: 10vw;
    margin-bottom: 0;
    margin-top: 10vh;
}

.infoheader {
    margin: 0;
    padding: 0;
}

.infotext {
    margin: 0px;
    padding: 0;
}

#me-pic{
    height: 300px;
    width: auto;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}