*{
    margin: 0;
    padding: 0;
    /* height:100%; */
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    background-color:#C39BD3;
    line-height: 1;
    overflow-y: hidden;
    height:100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #C39BD3; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 15vh;
    overflow-y: hidden;
}

#icon-container {
    position: relative;
    height: auto;
    min-height: 50px;
    min-width: 15vw;
    overflow-y: hidden;
}

.icon-img {
    height: 10vh;
    width: auto;
    margin-top: 2vh;
    margin-right: 1vw;        
    min-height: 20px;
    max-height: 50px;
}

.image-link {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
  }

#pages-container {
    padding-top: 10vh;
    /* position:sticky; */
}

.page {
    height: 100vh;
    flex: 1;
    display: flex;
    background-color: #faedff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;

}

/* section separators */

.page:not(:last-child)::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 10%; /* Adjust this value based on your design */
}


.maintext {
    font-family: "Cookie", cursive;
    font-weight: 100;
    color: black;
    height: 10vw;
    text-align: left;
    margin-left: 40px;
    line-height: 10vw;
    font-size: 3vw;

}

/* section headers */
.maintext:not(#navname) {
    font-family: "Georgia", serif;
    position: absolute;
    top: 15%;
    left: 40%;
    font-weight: bold;
}

#section-info{
    padding-top: 200px;
    display: flex;
    flex-direction: row;
}


.page-logo {
    min-width: 300px;
    width: 30vw;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

#exp-info.container{
    background-color: transparent;
    margin-left: 10vw;
    margin-bottom: 0;
    margin-top: 10vh;
    width: 40vw;
    font-size: clamp(20px, 2vw, 4vw);

}

.infoheader {
    font-family: "Georgia", serif;
    font-weight: 500;
    color: black;
    overflow-y: hidden;
    font-size: clamp(25px, 2vw, 4vw);
    margin: 2vh 0px 2vh;
}   

.infotext {
    overflow-y: hidden;
    font-size: clamp(20px, 1.5vw, 4vw);
    margin: 2vh 0px 2vh;

}

#me-pic{
    height: 50vh;
    width: auto;
}

#exp-info {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    height: 300px;
}

ul li {
    margin-bottom: 20px;
    overflow-y: hidden;
}
