.Page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: serif;
    overflow: hidden;
}

@media (min-width: 1000px){ /* larger screens*/
    .circle {
        width: 300px;
        height: 300px;
        border-radius: 50%; 
    }

    ul {
      font-size: 25px;
    }

    h2 {
        font-size: 80px;
    }
}

@media (max-width: 800px) { /* smaller screens*/
    .Page {
        flex-direction: column;
        align-items: center;
    }

    .header-container {
        /* height: 30vh; */
        /* justify-content: left; */
        /* align-items: center; */
        
    }

    .section-info {
        height: 60vh;
    }

    h2 {
        font-size: 20px;
    }
}

.circle {
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure content doesn't overflow the circle */
}


.header-container {
    position: relative;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-name {
    position: absolute;
    top: 35%; 
    left: 50%;     
    transform: translate(-50%, -50%);
    text-align: center;
    /* color: #664229; */
    color: #504538;
    font-weight: bold;
    font-size: 30px;
}

.pic {
    width: 100%; /* Make the image fill the circle */
    height: 100%; /* Make the image fill the circle */
    object-fit: cover; /* Ensure the entire circle is covered by the image */
}

.logo {
    width: 50vh;
    padding: 10%;
}

.section-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    color: black;
}

.cookiepoints{
    list-style-type: none;
    text-align: left;
    background-color: #dfcebc;
    border-radius: 4px;
}

.cookiepoints li {
    padding-left: 30px;
    background: url("./imgs/fullcookie.png") no-repeat left center;
    background-size: 25px;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    color: black;
    font-size: 52px;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 100%; */
    max-width: 30vw;
}

#mainintro {
    padding-left: 0px;
}
