.Page {
    height: 100vh;
    padding: 5vh 15vh;
    padding-left: 20vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    font-family: serif;
    font-size: 2vw;
}

.circle {
    width: 20vw;
    height: 20vw;
    border: 2px solid black;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure content doesn't overflow the circle */
  }

.section-name {
    text-align: center;
    color: black; 
}

.profpic {
    width: 100%; /* Make the image fill the circle */
    height: 100%; /* Make the image fill the circle */
    object-fit: cover; /* Ensure the entire circle is covered by the image */
}

.logo {
    width: 50vh;
    padding: 10%;
}

.section-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    color: black;
    /* font-family: serif;
    font-size: 3vw; */
}