.Page {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: serif;
    margin: 0;
}

@media (min-width: 1000px){ /* larger screens*/
    /* .img-container {
        width: 300px;
        height: 300px;
        border-radius: 50%; 
    } */

    ul {
      font-size: 25px;
    }

    h2 {
        font-size: 60px;
    }

    #title {
        font-size: 35px;
    }

    .header {
        font-size: 40px;
    }
}

@media (max-width: 800px) { /* smaller screens*/
    .mainpage {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #mainintro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-info {
        height: 60vh;
    }

    h2 {
        font-size: 20px;
    }
}

.mainpage {
    display: flex;
    flex-direction: row;
}

#mainintro{
    padding: 30px;
}

.img-container {
    height: 300px;
    width: 300px;
    border-radius: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure content doesn't overflow the circle */
}

.header-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-banner{
    /* position: relative; */
    width: 500px;
    height: 90px;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    text-align: center; /* Center the text horizontally */
    color: black; /* Set text color */
    font-weight: bold; /* Set text weight if needed */
    white-space: nowrap;
}

.infopage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: row;
}

.info-container{
    padding: 20px;
    border: 2px solid #dfcebc;
    margin: 30px;
    border-radius: 15px;
    text-align: left;
    flex: 1;
}

.pic {
    width: 100%; /* Make the image fill the circle */
    height: 100%; /* Make the image fill the circle */
    object-fit: cover; /* Ensure the entire circle is covered by the image */
}

.logo {
    width: 50vh;
    padding: 30px;
}

#title{
    margin-top: 0;
}

#desc{
    font-size: 25px;
}

.cookiepoints{
    list-style-type: none;
    text-align: left;
    background-color: #F2E9D9;
    border-radius: 4px;
}

.cookiepoints li {
    padding-left: 30px;
    background: url("./imgs/fullcookie.png") no-repeat left center;
    background-size: 25px;
}