

.Page {
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: serif;
    margin: 0;
    /* border: 2px solid black; */
}

@media (min-width: 768px){ /* larger screens*/
    .img-container {
        width: 300px;
        height: 300px;
    }

    .mainpage {
        display: flex;
        flex-direction: row;
        height: 100%;
        /* width: 100%; */
        justify-content: center;
        align-items: center;
    }

    #mainintro{
        padding: 30px;
        height: 100%;
        width: 100%;
    }

    .infopage {
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .text {
        font-size: 25px;
    }

    .info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* height: 60%; */
    }

    #mainintro #main {
        font-size: 60px;
    }

    #title {
        font-size: 35px;
    }

    .header {
        font-size: 40px;
    }

    .logo {
        width: 50vh;
        padding: 30px;
    }



}

@media (max-width: 767px) { /* smaller screens*/
    .img-container {
        width: 200px;
        height: 200px;
    }

    .mainpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    #mainintro {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #mainintro #cookiepoints{
        font-size: 25px;
    }

    #mainintro #main {
        font-size: 35px;
    }
    .infopage{
        height: auto;
        flex-direction: column;
    }

    .info{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .text:not(#cookiepoints){
        font-size: 15px;
    }

    .section-info {
        height: 60vh;
    }

    .header {
        font-size: 40px;
    }

    .logo {
        width: 5vh;
        padding: 20px;
    }
    
}


.img-container {
    border-radius: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.header-banner{
    position: relative;
    top: 20px;
    width: 500px;
    height: 90px;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    text-align: center; 
    font-weight: bold;
    white-space: nowrap;
}

.info-container{
    padding: 20px;
    border: 2px solid #dfcebc;
    margin: 30px;
    border-radius: 15px;
    text-align: left;
    flex: 1;
}

.pic {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.logo {
    width: 50vh;
    padding: 30px;
}

#title {
    margin: 0;
}

#cookiepoints{
    list-style-type: none;
    text-align: left;
    background-color: #F2E9D9;
    border-radius: 4px;
}

#cookiepoints li {
    padding-left: 30px;
    background: url("./imgs/fullcookie.png") no-repeat left center;
    background-size: 25px;
}