
@media (min-width: 768px){ /* larger screens*/
   
    .img-container{
        width: 20vw;
        max-width: 400px;
        min-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainpage {
        display: flex;
        flex-direction: row;
        min-height: 100%;
        height: 90vh;
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    
    .infopage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        height: 90vh;
        overflow: hidden;
    }

    #mainintro{
        padding: 30px;
        height: 100%;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }


    .text {
        font-size: 25px;
    }

    .info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
        background-color: white;
        padding: 20px;
    }

    #mainintro #main {
        font-size: 60px;
    }

    .title {
        font-size: 35px;
    }

    .header {
        font-size: 35px;
    }

    .logo {
        width: 50vh;
        padding: 30px;
    }



}


@media (max-width: 767px) { /* smaller screens*/
    .img-container {
        width: 200px;
        height: 200px;
        justify-content: center;
        align-items: center;
    }

    .mainpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 100%;
    }

    #mainintro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    #mainintro #cookiepoints{
        font-size: 25px;
    }

    #mainintro #main {
        font-size: 35px;
    }

    .infopage{
        height: auto;
    }

    /* .info{
        display: flex;
        flex-direction: column;
        height: auto;
    } */
    
    .text:not(#cookiepoints){
        font-size: 15px;
    }

    .section-info {
        height: 60vh;
    }

    .header {
        font-size: 40px;
    }

    .logo {
        width: 5vh;
        padding: 20px;
    }
    
}




.header-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    top: 0;
}

.header-banner{
    position: relative;
    width: 500px;
    height: 90px;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    text-align: center; 
    font-weight: bold;
    white-space: nowrap;
}

.info-container{
    padding: 20px;
    border: 2px solid #dfcebc;
    margin: 30px;
    border-radius: 15px;
    text-align: left;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
}

.pic {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px;
}

.logo {
    width: 50vh;
    padding: 30px;
}

.title {
    margin: 0;
}

#cookiepoints{
    list-style-type: none;
    text-align: left;
    background-color: #F2E9D9;
    border-radius: 4px;
    padding: 10px;
}

#cookiepoints li {
    padding-left: 30px;
    background: url("./imgs/fullcookie.png") no-repeat left center;
    background-size: 25px;
}

.date{
    color: #636363;
}